/* Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px; /* Margen a ambos lados */
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 15px; /* Margen superior */
  margin-left: 50px; /* Margen izquierdo */
}

.logo img {
  max-width: 80px; /* Ancho máximo del logo */
  height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
}

.nav-link {
  color: #00d0ff; /* Color del enlace */
  text-decoration: none; /* Quita el subrayado predeterminado */
  margin-right: 60px; /* Espacio entre los enlaces */
}

.logout-link {
  color: inherit; /* Hereda el color del texto del contenedor padre */
  transition: color 0.3s ease; /* Efecto de transición para el color del texto */
}

.logout-link:hover {
  color: red; /* Cambia el color del texto al pasar el ratón por encima */
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links .login-link,
.auth-links .register-link {
  color: #98cee8; /* Color de los enlaces de autenticación */
  text-decoration: none; /* Quita el subrayado predeterminado */
  margin-right: 20px; /* Espacio entre los enlaces */
}

.auth-links .login-link:hover,
.auth-links .register-link:hover {
  color: rgb(174, 255, 0); /* Cambia el color del texto al pasar el ratón por encima */
}
