/* Home.css */
body {
  font-family: 'Open Sans', sans-serif; /* Aplica la fuente Open Sans al cuerpo de la página */
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #f5462e; /* Azul */f5462e
}

.content {
  max-width: 600px; /* Ajusta el ancho máximo del contenedor del párrafo */
  margin: 0 auto; /* Centra el contenedor en el espacio disponible */
}

p {
  font-size: 1.2em;
  color: #555;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: #5a3c30 /* Azul */
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}
