/* Estilos en CreateUser.css */

.note-container {
  /* background-color: #dddedb; Cambio de color de fondo */
  padding: 20px;
  border-radius: 10px;
}
.containerMynotes {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.my-notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-note-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.note-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.note {
  background-color: #e2dfdf;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.note-content {
  flex-grow: 1; /* El contenido de la nota ocupa todo el espacio disponible */
}

.note-buttons {
  margin-top: auto; 
}

.remove-btn {
  margin-top: 5px; /* Espacio entre los enlaces */
}

.empty-note {
  text-align: center;
  font-style: italic;
}
/* Estilos en CreateUser.css */
.note-buttons-wrapper {
  display: flex;
  justify-content: center; 
}

.note-buttons-wrapper a {
  text-decoration: none;
  color: #007bff;
  margin: 0 5px; /
}
.note-buttons {
  margin-top: auto; 
  display: flex;
  justify-content: flex-end; 
}
.remove-btn {
  margin-left: 2px; /* Espacio entre los enlaces */
  cursor: pointer;
}
.remove-btn:hover {
  color: red;
}

.edit-btn:hover {
  color: #fff; /* Cambia el color del texto a blanco cuando pasas sobre el botón */
}
.note-buttons-wrapper span {
  color: black; /* Cambia el color del texto dentro de los span a negro */
}
